.App {
  display: flex;
  flex-direction: column;
  padding: 0, 4rem, 0, 4rem;
}
p {
  font-size: 27px;
  color: #49565b;
  margin-top: 0;
  line-height: 1.5;
  /* style={{ fontSize: "27px", color: "#49565B", marginTop: "0" }} */
}

.descimg {
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-width: 550px;
  padding: 0;
}

.desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 550px;
  min-width: 450px;
  padding: 0;
}

h1 {
  /* font-style: italic; */
  font-size: 50px;
  color: rgb(101, 66, 101);
  /* color: rgb(147, 100, 147); */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

label {
  font-style: italic;
  font-size: 30px;
  margin-left: 1rem;
}

h4,
h3 {
  margin: 10px;
}

h6 {
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.Cart {
  position: sticky;
  top: 140px;
  left: 100px;
  height: auto;
  width: 35.3rem;
  height: 80vh;
  /* height: 60vh; */
  color: rgb(90, 90, 0);
  background-color: lavender;
  padding: 30px;
  padding-top: 10px;
  margin: 10px;
  border-radius: 20px;
}

.Menu {
  left: 140px;
  margin-left: 100px;
}

.Body {
  display: flex;
  justify-content: left;
}

button {
  /* display: block; */
  cursor: pointer;
  /* background-color: thistle; */
  background-color: rgb(173, 146, 173);
  border: none;
  border-radius: 8px;
  color: white;
  margin: 6px;
  width: 270px !important;
  height: 78px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* button:hover {
  background-color: rgb(154, 123, 154);
  box-shadow: 0px 15px 20px rgba(83, 34, 88, 0.4);
  transform: translateY(-7px);
} */

.removefav {
  background-color: rgb(117, 93, 117);
  border: none;
  border-radius: 8px;
  color: white;
  margin: 6px;
  width: 270px !important;
  height: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

.remove,
.removesort {
  background-color: rgb(117, 93, 117);
  border: none;
  border-radius: 8px;
  color: white;
  margin: 6px;
  width: 270px !important;
  height: 78px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

.removesort:hover {
  background-color: rgb(117, 93, 117);
  box-shadow: none;
  transform: none;
}

.remove:hover,
.removefav:hover {
  background-color: rgb(90, 68, 90);
}

.Header {
  /* position: sticky; */
  top: 0px;
  /* padding-top: 1rem; */
  text-align: center;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

.Item {
  min-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lavenderblush;
  margin: 10px;
  padding: 20px;
  padding-top: 10px;
  border-radius: 20px;
}

.Deets {
  flex: 2;
  color: rgb(90, 90, 0);
}

.Total {
  font-size: 22px;
}

.CartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #1e80ef;
}

input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

/*  */
/* .wrapper {
  max-width: 1335px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: auto;
} */

/* .wrapper a {
  display: inline-block;
  margin: 5px;
} */

/* .wrapper a:first-child {
  margin-left: 0;
} */

.bottombuttons {
  flex-direction: row;
  display: flex;
}
.slider-wrapper {
  position: relative;
  height: 60vh;
  overflow: hidden;
  /* top? */
}

.slider-wrapper1 {
  margin: 1rem;
  margin-left: 3rem;
  /* top? */
}

.slide {
  height: 80vh;
  background-size: cover !important;
}

.slide::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  bottom: 0;
  left: 0;
}
/* #bottomb::before {
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
} */

/* .previousButton {
  content: "prev";
  color: red;
} */

.previousButton,
.nextButton {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  /* content: "<"; */
  /* background: url("https://svgshare.com/s/oTV") no-repeat center center / 16px; */
  /* background-image: url(); */
  /* background-color: white; */
  color: wheat;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}

.previousButton {
  margin-right: 2rem;
  /* margin-top: 2rem; */
  /* margin-bottom: 2rem; */
}

.previousButton:hover,
.nextButton:hover {
  background: url("https://svgshare.com/s/oTV") no-repeat center center / 16px;
  /* background-color: white; */
}

.previousButton {
  left: 0.25%;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));
}

.previousButton:hover {
  left: 0%;
}

.nextButton {
  right: -95.5%;
}

.nextButton:hover {
  right: -95.75%;
}

.slider-content {
  text-align: center;
}

.slider-content .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider-content .inner button {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.slider-content .inner button:hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  background-color: rgb(154, 123, 154);
  box-shadow: 0px 15px 20px rgba(83, 34, 88, 0.4);
  transform: translateY(-7px);
}

.slider-content .inner h1 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  color: #ffffff;
  font-size: 64px;
  line-height: 1;
}

.slider-content .inner p {
  color: #ffffff;
  font-size: 32px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
}

@media (max-height: 500px) {
  .slider-wrapper,
  .slide {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 640px) {
  .slider-wrapper,
  .slide {
    height: calc(80vh - 75px);
  }
}

@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

/* popup */

.popup {
  /* max-width: 600px; */
  margin: 2rem;
  justify-content: center;
  align-items: center;
  /* background-color: lavender; */

  /* position: relative; */
}

.popuptext {
  margin: 2rem;
  font-size: 32px;
}

.siteTitle {
  float: left;
  text-align: left;
  font-style: italic;
  /* padding:  */
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 1rem;
}

.longsubtitle {
  float: left;
  text-align: left;
  padding-top: 0;
  margin-top: 0;
  margin-left: 1rem;
}
.Name {
  flex-direction: column;
  max-width: 500px;
}

.Typeanimation {
  display: inline-block;
  font-size: 1.5em;
  margin-block-start: 1.8299999999999983em;
  /* margin-block-end: 0.83em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-right: 4rem;
  /* min-width: 445px; */
}

#nav {
  /* display: inline-block; */
  margin-block-start: 1.8299999999999983em;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  float: right;
  padding-right: 20px;
  margin-top: -10px;
  /* top: 0px; */
}

#header {
  flex-direction: row;
  margin-bottom: 0;
}

a {
  font-size: 24px;
}

#home,
#about,
#Personas,
#Iterative,
#Develop,
#Redesign {
  color: white;
}

#home:hover,
#about:hover,
#Personas:hover,
#Iterative:hover,
#Develop:hover,
#Redesign:hover {
  font-size: 24px;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 25px;
  top: 70px;
}

#react-burger-menu-btn {
  box-shadow: none;
  width: 36px !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
  box-shadow: none;
  /* transform: none; */
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 60%;
  top: 170px;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2em 1.5em 0;
  font-size: 1.15em;
  /* max-height: 60%; */
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  /* padding: 0.5em; */
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin: 3.5rem;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  height: auto;
  /* position: sticky; */
}
